<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>categorysystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CategoryJumpServlet</display-name>
    <servlet-name>CategoryJumpServlet</servlet-name>
    <servlet-class>com.stx.servlet.CategoryJumpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryJumpServlet</servlet-name>
    <url-pattern>/jumpcategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryAddJumpServlet</display-name>
    <servlet-name>CategoryAddJumpServlet</servlet-name>
    <servlet-class>com.stx.servlet.CategoryAddJumpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryAddJumpServlet</servlet-name>
    <url-pattern>/jumpcate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryAddServlet</display-name>
    <servlet-name>CategoryAddServlet</servlet-name>
    <servlet-class>com.stx.servlet.CategoryAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryAddServlet</servlet-name>
    <url-pattern>/addcate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.stx.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharsetFilter</display-name>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>com.stx.servlet.CharsetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ContentViewServlet</display-name>
    <servlet-name>ContentViewServlet</servlet-name>
    <servlet-class>com.stx.servlet.ContentViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentViewServlet</servlet-name>
    <url-pattern>/admin/jumpcontent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentAddServlet</display-name>
    <servlet-name>ContentAddServlet</servlet-name>
    <servlet-class>com.stx.servlet.ContentAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentAddServlet</servlet-name>
    <url-pattern>/admin/addcontent</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.stx.servlet.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
   <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.stx.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/admin/regist</url-pattern>
  </servlet-mapping>
</web-app>